<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                    <app-cockpit (inputTyped)="dataInputTyped($event)"></app-cockpit>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
            <app-main-list [receivedGroup]= "listGroup"></app-main-list>
    </div>
</div>