.glyphicon-ok {
    float: right;
    
    padding-right: 10px;
}

.glyphicon-remove {
    float: right;
    color: deeppink;
}

.isDone {
    text-decoration: line-through;
}

.iconCheck {
    color: lightgreen;
}

